* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: url("/static/yooo.jpeg") no-repeat center center fixed; /* Ensure correct path */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Stack elements vertically */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px); /* Adjust blur intensity */
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

form {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.045); /* Light background for visibility */
}

form:hover {
    transform: scale(1.02);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: #d2d2d2e4;
    
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #235b98;
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: rgba(255, 255, 255, 0.162);
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #2b6dbe;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

h2 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}